body{ 
    background: url(feet7.jpg);
    background-size: cover; 
    margin: 0; 
    padding: 0; 
    font-family: Arial;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
} 
.nav{ 
    overflow: hidden; 
    background: #fff;
} 
.nav a{ 
    color: #000; 
    text-align: center; 
}
.nav a{ 
    color: #000;
    text-align: center; 
    padding: 20px 16px; 
    font-size: 20px; 
    width: 100px; 
    text-decoration: none; 
    font-weight: bold; 
    text-transform: uppercase;
    
} 

.nav a:hover{ 
    background: purple; 
    color: #fff; 
}
.confirm {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
